@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("./assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-Variable";
    src: url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
}

* {
    cursor: none !important;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: initial !important;
}

html, body {
    min-height: 100%;
    height: auto;
}

.noise, .noise-2 {
    background-repeat: repeat;
}

.noise {
    background-image: url("./assets/images/noise.png");

}

.social-link {
    @apply transition duration-300 ease-in-out;
    position: relative;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.social-link:before {
    @apply bg-accent transition rounded-full;
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    bottom: -2px;

}

::selection {
    @apply bg-secondary text-white;
}

.social-link:hover:before {
    width: 100%;
}

.transition {
    @apply transition-all duration-300 ease-in-out
}

.gradient-mask {
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, #000000 100%);
    mask-image: linear-gradient(0deg, transparent 10%, black 100%);
    background-size: 200%;
    background-repeat: repeat;
    background-position: center;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-primary;
}

::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-500
}

